.expense-item {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	padding: 5px;
	width: 100%;
	background-color: #444444;
	color: white;
	font-weight: 100;
	margin-bottom: 0.7rem;
}

.expense-item__date, .expense-item__price {
	display: flex;
	padding: 5px;
	min-width: 70px;
	flex-direction: column;
	align-items: center;
	background-color: #2e2e2e;
	border: 2px solid #00fff1;
	border-radius: 8px;
}

.expense-item__day {
	font-size: 10px;
}

.expense-item__month {
	font-size: 12px;
}

.expense-item__year {
	font-size: 16px;
}

.expense-item__title {
	font-size: 18px;
}

.expense-item__price > p {
	margin-bottom: 3px;
}

.expense-item__price > button {
	background: inherit;
	border: none;
	color: red;
	cursor: pointer;
}

.expense-item__price {
	border-color: orange;
}

@media(max-width: 568px) {
	.expense-item {
		flex-wrap:  wrap;
	}
}